.maindiv {
    display: grid;
    align-items: center;
    justify-content: center;
    border: solid black 0.125rem;
    border-radius: 0.8rem;
    padding-top: 0.5rem;
    /* background-color: #1aff0086; */
    background-color: #1aff00c9;
    padding-bottom: 0.5rem;
    text-decoration: none;
}

.innerdiv {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;
    color: black;
    font-family: "Lucida Console";
    font-size: 14px;
    margin-top: 0.5rem;

}

.img {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: solid black 0.125rem;
    border-radius: 50%;
    /* box-shadow: 0 0 0 2px #0a58ca,
        0 0 0 4px #0a58ca; */
}