.pagination {
    display: flex;
    justify-content: center;
}

.FilterAndList {
    display: flex;
}

.paginationListOfCharsDiv {
    display: flex;
    flex-direction: column;
}

.paginationStyles {
    position: relative;
    left: -10vw;
    margin-bottom: 4rem;
    z-index: -1;
}