.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height:28px;
    margin-top: 1rem;
    position: fixed;
    bottom: 0px;
    z-index: 2;
    background-color: #1bff00e0;
    font-size: 1rem;
    width: 100%;
    font-family: "Lucida Console";
    text-transform: uppercase;
}