.acc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.MuiPaper-root {
    width: 14rem;
}

.inputDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    width: inherit;
}

.inputDiv input {
    width: inherit;
}