.PaginationCenteringDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.3rem;
}

.zClassLevel {
    font-family: "Lucida Console";
    color: #0a58ca;
}