.PaginationCenteringDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.3rem;
}

.App {
    height: 100vh;
    width: 100vw;
}

.zClassLevel {
    font-family: "Lucida Console";
    color: #0a58ca;
}

.mainBgImage {
    z-index: -5;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0.65;

}

@media screen and (max-width:600px) {
    .mainBgImage {
        width: auto;
    }

}