.PaginationCenteringDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.3rem;
}


.zClassLevel {
    font-family: "Lucida Console";
    color: #0a58ca;
}

.mainBgImage::after {
    content: '';
    height: 100%;
    width: 100%;
    z-index: -10000;
    background-color: rgba(0, 0, 0, 0.301);
    position: absolute;
    top: 0;
    left: 0;
}

.mainBgImage {
    z-index: -5;
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: contain;
    opacity: 0.65;

}

@media screen and (max-width:600px) {
    .mainBgImage {
        width: auto;
    }

}